/* Card.module.css */
.container {
  margin: 1rem auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #d2c910; /* Default background for the first card */
  margin: 1rem 0.5rem;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  color: white;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 15rem;
  margin: 0.5rem auto;
}

.card h4 {
  font-weight: bold;
}

/* Responsive for different background colors */
.card-2 {
  background-color: #11e3cc;
}

.card-3 {
  background-color: #bf02f5;
}

.card-4 {
  background-color: #7b2a33;
}

/* Media Queries for mobile responsiveness */
@media (min-width: 576px) {
  .card {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 23%;
  }
}
